<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/Home.css">
</head>
<body>
    <h1 style="text-align: center; font-size: 23px;">Welcome to Your Home Space</h1>
    <a href="/logout">
        <button>logout</button>
    </a>
    <div style="text-align: center;">
		<button style="background-color: rgb(212, 154, 164);">files</button>
		<button>dir</button>
		<button>spaces</button>
	</div>
    <div class="Search">
        <input type="search" placeholder="type to search">
    </div>
    </body>
</html>