<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/login.css">
  <title>Login</title>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action="/loginView">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <input name="email" required>
                        <label for="">Name</label>
                    </div>
                    <div class="inputbox">
                        <input name="password" type="password" required>
                        <label for="">Password</label>
                    </div>
                    
                    <button name="login">Log in</button>
                    <div class="register">
                        <p>Don't have an account <a href="/signupView">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </body>
</html>
