<!DOCTYPE html>
<html lang="en">

<head>
    
  <link rel="stylesheet" href="../static/login.css">
  <title>signup</title>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                
                    <h2>Sign up</h2>
                    <div class="inputbox">
                        <input name="email" type="email" required>
                        <label for="">Name</label>
                    </div>
                    <div class="inputbox">
                        <input id="password" type="password" required>
                        <label for="">Password</label>
                    </div>
                    <button id="signin">Sign in</button>
                    <div class="register">
                        <p>You have an account <a href="/loginView">Login<a></p>
                    </div>
                
            </div>
        </div>
    </section>
    </body>
</html>