<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../Static/login.css">
  <title>Login</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                
                    <h2>Login</h2>
                    <div class="inputbox">
                        <input id="email" type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <input id="password" type="password" required>
                        <label for="">Password</label>
                    </div>
                    
                    <button id="login">Log in</button>
                    <div class="register">
                        <p>Don't have an account <a href="signup.html">Register</a></p>
                    </div>
                
            </div>
        </div>
    </section>
    </body>
</html>